@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header {
  /* border: 1px solid; */
  display: flex;
  justify-content:space-between;
  padding: 15px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* border: 1px solid; */
  gap: 10px;
}

.content {
  /* border: 1px solid; */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer {
  /* border: 1px solid; */
  display: flex;
  justify-content:space-between;
  background-color: #e6e6e6;
  height: 30px;
  padding: 15px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* border: 1px solid; */
  gap: 10px;
  align-items: center;
}

.footer a {
  color:#5a5a5a;
  text-decoration: none;
}

img {
  width: 600px;
  /* border: 1px solid; */
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  /* border: 1px solid; */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
